name: Go

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.22'

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y \
          libinput-dev \
          libwayland-dev \
          libxkbcommon-dev \
          pkg-config \
          libx11-dev \
          libxcursor-dev \
          libxrandr-dev \
          libxinerama-dev \
          libxi-dev \
          libxxf86vm-dev \
          libgl1-mesa-dev

    - name: Build
      run: make build

    - name: Test
      run: make test
